src/main/app/students.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="get-all-students-flow">
        <logger level="INFO" doc:name="Logger"/>
        <db:select config-ref="databaseGlobalConfiguration" doc:name="Select All students">
            <db:parameterized-query><![CDATA[SELECT *
FROM students]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map {
	name: $.NAME,
	lastName: $.LAST_NAME,
	id: $.id
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
        <flow name="get-student-by-id-flow">
        <set-variable variableName="studentId" value="#[message.inboundProperties['http.uri.params']['ID']]" doc:name="Variable"/>
        <logger level="INFO" doc:name="Logger" message="#['Variable :' + flowVars.studentId + ' Request URI:' + message.inboundProperties.'http.uri.params'] "/>
        <db:select config-ref="databaseGlobalConfiguration" doc:name="Select student by ID">
            <db:parameterized-query><![CDATA[SELECT *
FROM students
WHERE id = #[flowVars.studentId]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	name: payload[0].NAME,
	lastName: payload[0].LAST_NAME	
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
